* {
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #fff;
    --text-color: #000;
} 

.image-profile {
    max-width: 40%;
    width: cover;
    clip-path: circle(50%);
    display: block;
    margin: 0 auto;
}

@media (max-width: 1250px) {
    .image-profile {
        max-width: 60%;
    }
}
  